/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 3, 2018, 4:53:14 PM
    Author     : Milos
*/

html {
    background-color: white;
}
head, body, footer {
    margin-left: 250px;
    margin-right: 250px;
    background-color: #fffbed;
}
html, body {
    min-height: 1000px;
}

label, input {
    display: block;

}

textarea {
    width: 20%;
}

select {
    width: 20%;
}

.form-control {
    width: 20%;
}
#column_names_row:hoover {
    background: none;
}
td a { 
    display: block; 
}

.container-fluid {
    max-width: 1000px;
    /*overflow: hidden;*/
}
.row-div {
    display: inline;
}
.main-div {
    display: inline;
}

.course-title {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 10px;
}

/*.col { float:left; }
.col-elem {display: inline}
label {text-align: left}
input {min-width: 200px}
select {min-width: 200px}
textarea {min-width: 300px}
.course_espb_label {margin-top: 30px}
.status_department_col {
    margin-left: 35px;
    margin-top: 0px;
}
.course_dept_label {margin-top: 30px}
.course_goal_label {margin-left: 50px; margin-top: -2px}
#course_goal {margin-left: 50px; min-height: 125px}
.select_list {
    min-height: 110px;
    min-width: 250px
}
.selected_lecturers {
    margin-top: 47px;
    margin-left: 30px;
}
.select_buttons {
    margin-top:70px;
    margin-left: 30px;
    min-height: 20px;
    min-width: 20px;
}
.select_list_lecturers {
    min-height: 110px;
    min-width: 250px;
}

.course-subtitle {
    text-align: left;
}*/


/* Filter table CSS */
#myInput {
    background-image: url('magnify.png'); /* Add a search icon to input */
    background-position: 10px 7px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.error_label {
    color: red;
}

